@import "./GlobalVars";
@import "./assets/styles/Header";
@import "./assets/styles/Login";
@import "./assets/styles/Footer";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $background-color;
}
