@import "./GlobalVars";
@import "./assets/styles/Header";

/* $background-color: #32256a; */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $background-color;
}

/* .header__main {
  background: $background-color;
}
 */

/* $primary-color: white;
$bg: black;
$secundary-color: #32256A;

body {
  background: $secundary-color;
}

h1 {
  color: $primary-color;
  background-color: $bg;
  font-size: 0.7em;
} */