@import "./GlobalVars";
@import "./assets/styles/Header";
@import "./assets/styles/Login";
@import "./assets/styles/Footer";
@import "./assets/styles/Profile";
@import "./assets/styles/BuyandSell";
@import "./assets/styles/RecentsTrades";
@import "./assets/styles/Markets";
@import "./assets/styles/Graphic.scss";
@import "./pages/Home";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $background-color;
}

.layout__container {
  flex-wrap: wrap;
  align-content: space-between;
}
