// Colors

$background-color: #32256a;
$panel-color: #2d225a;
$btn-sell-color: #ff0000;
$btn-buy-color: #158a13;
$font-color-primary: #fbfaff;
$border-color: #fe3daa;

//fonts

$primary-font: 'Lato';

//fonts-size

$price-text: 0.7em;
$button-text: 1.2em;

//Spacing

$panel-spacing: 0.5em;