@import "../../GlobalVars";

.order__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-self: center;
  padding: 10px;
  background: /* $panel-color */white;
  border-radius: 10px;
}

.table__content {
  display: flex;
  border: 2px solid /* $border-color */ $panel-color;
  margin: 20px 0px;
  .table__value {
    padding: 5px 20px;
    font-size: 1em;
    align-self: center;
    color: /* $font-color-primary */ $panel-color;
  }
}

.form__values {
  width: 100%;
  margin: 0;
  background-color: /* $panel-color */white;
  font-size: 0.8em;
  padding: 5px 10px;
  border-right: 2px solid /* $border-color */ $panel-color;
  border-bottom: none;
  color: $font-color-primary;
}

.input__hidden {
  display: none;
}

form {
  height: 100%;
  border: none;
  border-radius: none;
  box-shadow: none;
}

form input{
  /* margin: 0 3em; */
  width: 20em;
  height: 3em;
  background-color: white;
  border: none;
  border-right: 2px solid $panel-color;
  color:$panel-color;
}
::placeholder{
  color:$panel-color;
  opacity: 1;
  font-size: 1.2em;
}

.orden__total {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  color: /* $font-color-primary */$panel-color;
}

.total__content {
  text-align: right;
}

.total__content_account {
  padding-left: 10px;
}

.btn__order {
  padding: 20px 10px 10px 10px;
}

.btn__sell {
  width: 100%;
  background: $btn-sell-color;
  color: $font-color-primary;
  padding: 5px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
}

.btn__buy {
  width: 100%;
  background: $btn-buy-color;
  color: $font-color-primary;
  padding: 5px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
}

.order__btn {
  display: flex;
  padding: 0px;
  list-style: none;
}

.order__btn {
  justify-content: space-around;
  .order1__buy {
    font-size: $button-text;
    width: 100%;
    border: none;
    background: $btn-buy-color;
    padding: 5px 70px;
    color: $font-color-primary;
  }
  .order__sell {
    font-size: $button-text;
    width: 100%;
    border: none;
    padding: 5px 70px;
    color: $font-color-primary;
    background: $btn-sell-color;
  }
}
