@import '../../GlobalVars';

.footer {
  width: 99%;
  height: 80px;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  margin: 8px;
  background: $panel-color;
  color: $font-color-primary;
  align-items: center;
  font-size: ($price-text - 0.2em);
  h1 {
    padding-left: $panel-spacing;
  }
}