@import "../../GlobalVars";

/* .charts {
  display: flex;
  justify-content: center;
  align-items: center;
  background:white;
  /* width: 100%; */
  /* margin-left: 8px; */
  /* color: $panel-color;
  border-radius: 10px; */
/* }  */
/*
@media (max-width: 375px) {
  .charts {
    width: 360px;
  }
} */

