@import "../../GlobalVars";

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: $panel-spacing;
  background: $panel-color;
  color: $font-color-primary;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  a {
    text-decoration: none;
    color: $font-color-primary;
  }
}

.header__img {
  width: 120px;
  height: 40px;
  margin-bottom: -10px;
}

.header__markets {
  list-style: none;
  img {
    position: absolute;
    width: 10px;
    top: 4px;
    right: -20px;
  }
}

.header__markets:hover ul, .header__nav--logo:hover {
  display: block;
  img {
    transform: rotate(90deg);
  }
}

.header__menu {
  padding-right: 30px;
}

.header__despliegue  {
  position: absolute;
  top: 40px;
}

.header__deploy {
  display: none;
  list-style: none;
  background: $panel-color;
  padding: 10px;
  position: relative;
  top: 70px;
  left: -10px;
  li {
    padding: 5px;
  }
    a {
      text-decoration: none;
    }
}

.header__deploy li:hover {
  background: $border-color;
}

.header__btn {
  display: flex;
  li {
    list-style: none;
    padding: $panel-spacing;
  }
  a {
    border: 2px solid $border-color;
    border-radius: 5px;
    padding: 5px 25px;
    text-decoration: none;
    color: $font-color-primary;
  }
  a:hover {
    background: $border-color;
  }
}

