@import "../../GlobalVars";

.trades__main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  .trades__title {
    background: #7B53FD;
    padding: 6px;
    font-size: 0.6em;
    padding-left: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-weight: lighter;
  }
  .table_content {
    width: 100%;
    overflow-y: visible;
  }
  .trades__table {
    background: white;
    font-size: 0.9em;
    color: $panel-color;
    width: 100%;
    thead {
      text-align: right;
      padding: 15px;
    }
    tbody {
      text-align: right;
      padding: 15px;
    }
  }
}
